<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ShortcutRelayService.Service1" behaviorConfiguration="MetaBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8734/ShortcutRelay/" />
          </baseAddresses>
        </host>
        <endpoint address="ShortcutService" binding="basicHttpBinding" contract="ShortcutRelayService.IService1">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>  
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetaBehaviour" >
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
